.contact {
  background-color: $section-color;
  padding: 6.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    font-size: 3.6rem;
    margin-bottom: 2rem;
  }

  &__box {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;

    &__img {
      width: 100%;
    }

    &__inputs {
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      margin-top: 3rem;
    }
  }

  form {
    margin: 7rem 0;
  }

  input {
    width: 100%;
    padding: 1rem;
    margin-bottom: 3rem;
    font-size: 1.4rem;
    border-radius: 1rem;
    border: 1px solid $border-color;
    transition: border 0.3s;

    &:focus {
      border-color: $highlight-color;
      outline: none;
    }
  }

  input::placeholder,
  textarea::placeholder {
    font-size: 1.4rem;
  }

  textarea {
    width: 100%;
    height: 20rem;
    padding: 1.5rem;
    margin-bottom: 3rem;
    border-radius: 1rem;
    font-size: 1.4rem;
    border: 1px solid $border-color;
    &:focus {
      border-color: $highlight-color;
      outline: none;
    }
  }

  &__button-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  &__button {
    padding: 1rem 4rem;
    font-size: 1.8rem;
    cursor: pointer;
    background-color: $cta-color;
    color: #fff;
    border: none;
    border-radius: 1rem;
    box-shadow: 10px 15px 5px 0 $secondary-color;
    transition: ease-in-out 0.5s;
    &:hover {
      background-color: $highlight-color;
      box-shadow: none;
    }
  }
}


// Responsive design

@media screen and (max-width: 1200px) {
  .contact {
    &__img {
      width: 100%;

    }
  }

}

@media screen and (max-width: 1024px) {
  .contact {
    &__img {
      width: 80%;
    }

    form {
      margin: 24rem 0;
    }
  }
  }
