.footer {

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;

  }

  &__text {
    font-size: 1.2rem;
    margin: 1.2rem 0;
  }
  &__bold {
    font-weight: bold;
  }

  &__icons {
    display: flex;
    gap: 1.2rem;
    margin: 0 1.2rem;
  }
  &__icon {
    width: 5rem;
    height: 5rem;
    padding: 1.2rem;
    background-color: $cta-color;
    font-size: 2.4rem;
    border-radius: 1.5rem;
    transition: ease-in-out 0.5s;
    box-shadow: 10px 15px 5px 0 $secondary-color;
    &:hover {
      background-color: $highlight-color;
      box-shadow: none;
    }
  }
}
