@import 'variables';
.home {
  display: flex;
  justify-content: space-around;
  align-items: center;

  // Headers
  &__header--primary {
    font-size: 3.8rem;
    text-shadow: 1px 1px 1px $border-color;
  }

  &__header--secondary {
    font-size: 3.6rem;
    text-shadow: 1px 1px 1px $border-color;

  }

  &__header--terciary {
    font-size: 2.4rem;
    text-shadow: 1px 1px 1px $border-color;
  }


  &__cta {
    width: 20rem;
    display: flex;
    justify-content: center;
    margin-top: 3.4rem;
    padding: 1rem 2rem;
   border-radius: 1.5rem;
    background-color: $cta-color;
    font-size: 2.4rem;
    box-shadow: 10px 15px 5px 0 $secondary-color;
    transition: ease-in-out 0.5s;
    &:hover {
      background-color: $secondary-color;
      box-shadow: none;
    }
  }

  &__btn {
    color: $section-color;
    font-weight: 600;
  }
}

@media screen and (max-width: 1200px) {
  .home {
    align-items: center;

    &__img {
      width: 100%;
    }
  }


}
