.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
  font-size: 1.5rem;



  &__container {
    display: flex;
    align-items: center;
    width: 100%;
  }

  &__items {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  &__link{
    margin: 0 1rem;
    }

    &__menu-icon {
      display: none;  // hide the menu icon on desktop
    }

    @media screen and (max-width: 1000px) {
      &__menu-icon {
        display: flex;
        justify-content: flex-end;
        margin: 0;
        width: 100%; // show the menu icon on mobile
      }

      &__items {
        display: none;  // hide the menu on mobile
      }

      &__items--open {
        display: flex;  // show the menu on mobile
        flex-direction: column;
        position: absolute;
        top: 10%;
        left: 0;
        width: 100%;
        padding: 1rem;
        z-index: 1;
      }
    }
  }
