.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 2rem;
  font-size: 1.6em;


  .logo {
    margin-right: 50rem;
  }
  .navItems {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
  }
}



// Responsive Navbar
.open, .close {
  display: none;
}


@media screen and (max-width: 1068px) {
  .navbar {
   
    .open {
      display: block;
    }
  }

}
