@import "variables";
.project {
  background-color: $section-color;
  margin: 5rem 0;
  padding: 5rem;

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3.6rem 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 1.8rem;
    max-width: 300px;
    gap: 1rem;
    border: 1px solid black;
    overflow: hidden;
    box-shadow: 10px 15px 5px 0 $secondary-color;
    border-radius: 1.5rem;
  }

  // Header
  &__header {
    font-size: 3.6rem;
  }

  &__title {
    font-size: 2.4rem;
  }

  &__text {
    font-size: 1.2rem;
    padding: 1rem;
  }

  &__link {
    padding: 1rem 2rem;
  }
}
