@import "variables";
.project {
  background-color: $section-color;

  padding: 5rem;

  &__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 3.6rem 0;
  }

  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 1.8rem;
    max-width: 35rem;
    gap: 1rem;
    border: 2px solid black;
    overflow: hidden;
    background-color: $main-color;
    box-shadow: 10px 15px 5px 0 $secondary-color;
    border-radius: 1.5rem;
    text-shadow: 1px 1px 1px $border-color;
    transition: ease-in-out 0.5s;
    &:hover {
      box-shadow: none;
    }
  }

  &__links {
    margin: 1.8rem 0;
    margin: 1.8rem 0;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 1rem;
    /* justify-content: space-evenly; */

  }

  &__link {
    font-size: 1rem;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;

    // Design
    color: $section-color;
    background-color: $cta-color;
    border: 1px solid $border-color;
    border-radius: 1.5rem;
    font-weight: bold;
    transition: ease-in-out 0.5s;

    &:hover {
      background-color: $secondary-color;
      box-shadow: 10px 10px 5px 0 $secondary-color;
    }
  }

  span {
    font-size: 1.2rem;
    padding: 1rem;
  }

  // Header
  &__header {
    font-size: 3.6rem;
  }

  &__title {
    font-size: 2.4rem;
  }

  &__text {
    font-size: 1.2rem;
    padding: 1rem;
  }

  &__link {
    padding: 1rem 2rem;
  }
}

@media screen and (max-width: 900px) {
  .project {
    padding: 2rem; // Reduce padding for smaller screens

    &__box {

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 4rem;
    }

    &__content {
      width: 80%;  // Allow content to take full width
      max-width: 40rem;  // Reduce the max-width to make it smaller
      margin: 1rem 0;  // Less margin between boxes
      padding: 0;  // Reduce padding inside the box
      box-shadow: 5px 10px 3px 0 $secondary-color;  // Adjust box shadow for smaller screens
      transition: ease-in-out 0.3s;  // Make the transition faster for smaller screens

      &:hover {
        box-shadow: 3px 5px 2px 0 $secondary-color;  // Adjust hover effect for smaller screens
      }
    }

    &__links {
      justify-content: center;  // Center align the links
      gap: 0.8rem;  // Reduce gap between links
    }

    &__link {
      padding: 0.6rem 1.2rem;  // Make link padding smaller
      font-size: 0.9rem;  // Slightly reduce font size
    }

    span {
      font-size: 1rem;  // Decrease font size for smaller screens
      padding: 0.8rem;
    }

    // Adjust header and text sizes for responsiveness
    &__header {
      font-size: 2.4rem;
    }

    &__title {
      font-size: 1.6rem;  // Smaller font size for titles
    }

    &__text {
      font-size: 1rem;
      padding: 0.8rem;
    }
  }
}
