@import "variables";

.skills {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: $cta-color;
  color: $third-color;

  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 2rem;
  }

  &__header {
    font-size: 2.4rem;
    color: $section-color;
    text-shadow: $third-color;
    margin-top: 2rem;
  }

  &__box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
}

.skill {
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: $third-color;
    box-shadow: 10px 15px 5px 0 $secondary-color;
    transition: ease-in-out 0.5s;
    padding: 1.5rem;
    margin: 1rem;
    border-radius: 1.5rem;
    width: 15rem;
    height: 12rem;
    &:hover {
      background-color: $highlight-color;
      box-shadow: none;
    }

    &:hover .skill__text {
      color: $third-color;
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    font-size: 1.2rem;
    color: $section-color;
    padding: 1rem;
    font-weight: 600;
    transition: ease-in-out 0.5s;
  }
}

// Responsive design

@media screen and (max-width: 1200px) {

    .skills__content{
       // Center align text and icons
    }

    .skills__box {
      gap: 1rem;  // Adjust spacing between elements
    }

    .skill__content {
      width: 100%;  // Make each skill content take full width
      max-width: 15rem;  // Restrict max width so it doesn't stretch too much
      margin: 1rem 0;
      display: flex;
      flex-direction: row;  // Stack items vertically
      align-items: center;  // Add vertical space between items
    }

    .skill__text {
      text-align: center;  // Center text within each skill box
    }

}

// Add this section when you have all the certifications

// .certifications {
//   display: flex;

//   &__header {
//     font-size: 2.4rem;
//     color: $section-color;
//     text-shadow: $third-color;
//     margin-top: 2rem;
//   }
// }
