// Color palates
$main-color: #DCCFFB; // for background
$cta-color: #3366FF; // for headers
$secondary-color: #4B4B4B; // for text
$third-color: #2D2D2D; // for text
$section-color: #F6F6F6; // for section background
$icons-color: #33CC99; // for icons
$highlight-color: #FF7F66; // for highlights
$border-color: #839AB4;
